{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ja' }}">
		<head>
				<meta charset="UTF-8">
				<title>{% block title %}Dashboard{% endblock %}</title>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">

				<!-- Javascript -->
				<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
				<script src="{% static 'js/tether/dist/js/tether.min.js' %}"></script>
				<script src="{% static 'js/moment/moment.min.js' %}"></script>
				<script src="{% static 'js/chartjs/Chart.min.js' %}"></script>
				<!-- Bootstrap -->
				<link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
				<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
				{% block extrahead %}{% endblock %}
		</head>
		<body style="height: 100vh">
				<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark  w-100" >
						<a class="navbar-brand mb-0 h1" href="{% url 'dashboard:index' %}">BMAN Dashboard</a>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
								<div class="navbar-nav">
										<a class="nav-item nav-link" href="{% url 'dashboard:index' %}">Home</a>
										<a class="nav-item nav-link" href="{% url 'dashboard:bibtex_add_step1' %}">Add New Bib</a>
								</div>
						</div>
				</nav>
				<div class="container-fluid w-100 h-100" style="overflow:auto;">
						<div class="row h-100">
								<div class="col-sm-2 bg-light h-100" >
										<h3 class="h5 mt-3" >Bibtex Category</h3>
										<ul class="nav flex-column mb-3">
												<li class="nav-item">
														<a class="nav-link" href="#INTPROC">Internatinal Conference</a>
												</li>
												<li class="nav-item">
														<a class="nav-link active" href="#JOURNAL">Journal</a>
												</li>
												<li class="nav-item">
														<a class="nav-link" href="#CONF_DOMESTIC">Domestic Conference</a>
												</li>
												<li class="nav-item">
														<a class="nav-link" href="#CONF_DOMESTIC_NO_REVIEW">Domestic Conference<br>(NoReview)</a>
												</li>
												<li class="nav-item">
														<a class="nav-link" href="#CONF_NATIONAL">National Conference</a>
												</li>
												<li class="nav-item">
														<a class="nav-link" href="#BOOK">Book/Review/<br>Editor</a>
												</li>
												<li class="nav-item">
														<a class="nav-link" href="#KEYNOTE">Presentaion/<br>Seminer</a>
												</li>
												<li class="nav-item">
														<a class="nav-link" href="#NEWS">NewsPaper</a>
												</li>
												<li class="nav-item">
														<a class="nav-link" href="#OTHERS">Others</a>
												</li>
												<li class="nav-item">
														<a class="nav-link" href="#AWARD">Award</a>
												</li>
										</ul>
										<ul class="nav flex-column mb-3">
												<h3 class="h5" >Additional Info</h3>
												<li class="nav-item">
														<a class="nav-link active" href="{% url 'dashboard:book_index' %}">Book</a>
														<a class="nav-link active" href="{% url 'dashboard:author_index' %}">Author</a>
												</li>
										</ul>

										<ul class="nav flex-column mb-3">
												<h3 class="h5" >Add New</h3>
												<li class="nav-item">
														<a class="nav-link active" href="{% url 'dashboard:book_add' %}">Add New Book</a>
														<a class="nav-link active" href="{% url 'dashboard:author_add' %}">Add New Author</a>
														<a class="btn btn-sm btn-outline-primary" href="{% url 'dashboard:bibtex_add_step1' %}">Add New Bib</a>
												</li>
										</ul>
								</div>
								<div class="col-sm-10">
										{% block content %}
										{{ content }}
										{% endblock %}
								</div>
						</div>
				</div>
				<!-- Footer -->
				<div class="container-fluid  w-100 bg-dark" style="overflow:auto;">
						<div class="row bg-inverse py-2">
								<div class="col-12  text-white d-flex justify-content-end">
										<span class="px-3" style="font-size: 1em;">Hara Lab.</span>
								</div>
						</div>
				</div>
		</body>
</html>
