version: '2'
services:
  storage:
    image: busybox
    volumes:
      - ./storage/db:/var/lib/mysql
  db:
    image: mysql:5.7
    ports:
      - "3306:3306" # <-これがないと外からアクセス出来ない
    hostname: db
    environment:
      MYSQL_ROOT_PASSWORD: docker
      MYSQL_DATABASE:      docker
      MYSQL_USER:          docker
      MYSQL_PASSWORD:      docker
    volumes:
      - ./storage/db/data:/var/lib/mysql
      # - ./storage/db/init:/docker-entrypoint-initdb.d
      - ./docker/mysql:/etc/mysql/conf.d
    volumes_from:
      - storage
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST:      db
      PMA_USER:      root
      PMA_PASSWORD:  docker
    links:
      - db
    ports:
      - "7070:80"
  django:
    build: ./docker/django
    # command: python /code/app/manage.py runserver 0.0.0.0:8000
    hostname: django
    environment:
      MYSQL_DATABASE: docker
      MYSQL_USER:     docker
      MYSQL_PASSWORD: docker
      MYSQL_HOST:     db
    volumes:
      - ./src:/code
      - ./docs:/docs
    ports:
      - "7000:8000"
    depends_on:
      - db
    tty: true

