{% extends "base.html" %}

{% block title %}Dashboard | Book {% endblock title %}
{% load utils_bib_index_page_helper %}

{% block content %}
<div class="row">
		<div class="col-12 my-3">
				<div Class="card shadow">
						<div class="card-body">
								<div class="d-inline-block h4">
										<span class="badge badge-primary">Book</span>
										<span class="border border-info badge-pill text-info small">{{ book.get_style_display }}</span>
								</div>
								<h1 class="h3" >
										<span class="d-inline-flex">{{ book.title }}</span>
								</h1>
								<div class="table-responsive-md">
										<table class="table table-sm table-striped">
												<thead>
														<tr>
																<th></th><th></th>
														</tr>
												</thead>																
												<tbody>
														<tr>
																<th>Book Title</th>
																<td>
																		{{ book.title }}
																</td>
														</tr>																				
														<tr>
																<th>Abbreviation</th>
																<td>
																		{{ book.abbr|default:'-' }}
																</td>
														</tr>
														<tr>
																<th>Publication Type</th>
																<td>
																		{{ book.get_style_display|default:'-' }}
																</td>
														</tr>
														<tr>
																<th>Institution</th>																							
																<td>
																		{{ book.institution|default:'-' }}
																</td>
														</tr>
														<tr>
																<th>Organizer</th>
																<td>
																		{{ book.organizer|default:'-' }}
																</td>
														</tr>
														<tr>
																<th>Publisher</th>
																<td>
																		{{ book.publisher|default:'-' }}
																</td>
														</tr>
														<tr>
																<th>Address</th>
																<td>
																		{{ book.address|default:'-' }}
																</td>
														</tr>
														<tr>
																<th>Note</th>
																<td>
																		{{ book.note|default:'-' }}
																</td>
														</tr>																				
												</tbody>
										</table>
								</div>
								{% if user.is_authenticated %}												
								<a href="{% url 'dashboard:book_edit' book.id %}" class="btn btn-outline-primary">Edit</a>
								{% endif %}
						</div>
				</div>
		</div>
		<div class="col-12 my-3">
			<div class="card shadow">
				<div class="card-body border-bottom border-secondary">
					<h4>Our Publications in This Book</h4>
				</div>
				<div class="card-body">
					{% print_bibtexs %}												
				</div>
				<div class="card-body">
					<a href="{% url 'dashboard:index' %}?keywords={{ book.title }}" class="btn btn-primary btn-block">See More Publications</a>
				</div>																								
			</div>
		</div>
</div>
{% endblock content %}
