{% extends "base.html" %}

{% block title %}Dashboard | Book {% endblock title %}
{% load utils_bib_get_data %}

{% block content %}
<div class="row">
				<div class="col-12 card my-3">
								<div class="card-body">
												<h1 class="h3" ><small class="text-secondary mr-2" >Book Title:</small><span class="d-inline-flex">{{ book.title }}</span></h1>
								</div>
								<div class="card-body" >
												<table class="table table-sm table-striped">
																<tbody>
																				<tr>
																								<th>Book Title</th>
																								<td>
																												{{ book.title }}
																								</td>
																				</tr>																				
																				<tr>
																								<th>Abbreviation</th>
																								<td>
																												{% if book.abbr %}
																												{{ book.abbr }}
																												{% else %}
																												No Data
																												{% endif %}
																								</td>
																				</tr>
																				<tr>
																								<th>Publication Type</th>
																								<td>
																												{% if book.style  %}	
																												{{ book.style|get_display_name }}
																												{% else %}
																												No Data
																												{% endif %}																												
																								</td>
																				</tr>
																				<tr>
																								<th>Institution</th>
																								<td>
																												{% if book.institution %}
																												{{ book.institution }}
																												{% else %}
																												No Data
																												{% endif %}																												
																								</td>
																				</tr>
																				<tr>
																								<th>Organizer</th>
																								<td>
																												{% if book.organizer %}
																												{{ book.organizer }}
																												{% else %}
																												No Data
																												{% endif %}																												
																								</td>
																				</tr>
																				<tr>
																								<th>Publisher</th>
																								<td>
																												{% if book.publisher %}
																												{{ book.publisher }}
																												{% else %}
																												No Data
																												{% endif %}
																								</td>
																				</tr>
																				<tr>
																								<th>Address</th>
																								<td>
																												{% if book.address %}
																												{{ book.address }}
																												{% else %}
																												No Data
																												{% endif %}
																								</td>
																				</tr>
																</tbody>
												</table>
												<a href="{% url 'dashboard:index_list' %}?keywords={{book.title}}&pubyear_all=true" target=”_blank” class="btn btn-outline-primary btn-sm">Publications</a>
								</div>
				</div>
</div>
{% endblock content %}
