{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | Book Add{% endblock title %}

{% block content %}

<div class="row">
		<div class="col-12 my-3">
				{% if book.id %}
				<h2>Edit Book Info: {{ book }}</h2>
				{% else%}
				<h2>Add New Book
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
  						Help
					</button>
				</h2>
				{% endif %}
				{% if form.errors %}{%for error in form.errors.values %}<p><strong>{{ error }}</strong></p>{% endfor %}{% endif %}

				<form action="{{ submit_url}}" method="post">
						{% csrf_token %}
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Title</label>
								<div class="col-5">{{ form.title }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Abbribiation</label>
								<div class="col-5">{{ form.abbr }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Bibtex Type</label>
								<div class="col-5">{{ form.style }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Institution</label>
								<div class="col-5">{{ form.institution }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Organizer</label>
								<div class="col-5">{{ form.organizer }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Publisher</label>
								<div class="col-5">{{ form.publisher }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Address</label>
								<div class="col-5">{{ form.address }}</div>
						</div>
						<button type="submit" class="btn btn-primary">{{ submit_text }}</button>
						{% if book.id %}
						<a href="{% url 'dashboard:book_detail' book.id %}" class="btn btn-outline-primary btn-sm">Back</a>
						{% else %}

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 		 					<div class="modal-dialog" role="document">
    							<div class="modal-content">
      							<div class="modal-header">
        							<h5 class="modal-title" id="exampleModalLabel">Step 2. </h5>
		        					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          						<span aria-hidden="true">&times;</span>
		        					</button>
      							</div>
      							<div class="modal-body">
        							<h4> Register Book Infomation</h4>
        								<ol>
											<li>
												Please fill in the form with the book's information.
											</li>
											<li>
												After press the 'Register' button, you can see the list of all the registered book.
											</li>
											<li>
												Please go back to the Bibtex registration page, and the new-registered book can be chosen from the list now.
											</li>
										</ol>
										<hr>
										<img src="{% static 'images/RegistrationFlow2.png' %}" height="500" width="450" alt="Flow2" />
		      					</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--							    	<button type="button" class="btn btn-primary">Save changes</button>   -->
 						     	</div>
    							</div>
  							</div>
						</div>
						<!-- Modal End-->
						{% endif %}
				</form>

		</div>
</div>
{% endblock content %}
