{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | Book Add{% endblock title %}

{% block content %}

<div class="row">
		<div class="col-12 my-3">
				<div class="card shadow">
						<div class="card-body">
								{% if book.id %}
								<h2>
										<small class="text-secondary mr-2" >Edit Book Info:</small>
										<span class="d-inline-flex">{{ book }}</span>
								</h2>
								{% else%}
								<h2>Add New Book
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
  											Help
										</button>
								</h2>
								{% endif %}
								{% if form.errors %}
								<div class="alert alert-danger" role="alert">
										{%for error in form.errors.values %}
										{{ error }}
										{% endfor %}
								</div>
								{% endif %}
						</div>
						<div class="card-body">
								<!-- New  -->
								<form action="{{ submit_url}}" method="post" class="row">
										{% csrf_token %}
										<div class="col-12">
												<div class="table-responsive-md">
														<table class="table table-sm table-striped">
																<thead>
																		<tr>
																				<th>Item</th>
																				<th>Value</th>
																		</tr>																								
																</thead>
																<tbody>
																		<tr>
																				<th>Book Title</th>
																				<td>
																						{{ form.title }}
																				</td>
																		</tr>																				
																		<tr>
																				<th>Abbreviation</th>
																				<td>
																						{{ form.abbr }}
																				</td>
																		</tr>
																		<tr>
																				<th>Publication Type</th>
																				<td>
																						{{ form.style }}
																				</td>
																		</tr>
																		<tr>
																				<th>Publisher</th>
																				<td>
																						{{ form.publisher }}	
																				</td>
																		</tr>
																		<tr>
																				<th>Note</th>
																				<td>
																						{{ form.note }}
																				</td>
																		</tr>																								
																</tbody>
														</table>
												</div>
										</div>
										<div class="col-12">
												<button type="submit" class="btn btn-primary">{{ submit_text }}</button>
												{% if book.id %}
												<a href="{% url 'dashboard:book_detail' book.id %}" class="btn btn-outline-primary">Back</a>
												{% endif %}
										</div>
								</form>
						</div>
				</div>				
		</div>
</div>
{% endblock content %}
