{% extends "base.html" %}

{% block title %}Dashboard | Book Add{% endblock title %}

{% block content %}

<div class="row">
		<div class="col-12 my-3">
				{% if book.id %}
				<h2>Edit Book Info: {{ book }}</h2>
				{% else%}
				<h2>Add New Book</h2>
				{% endif %}
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

				<form action="{{ submit_url}}" method="post">
						{% csrf_token %}
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Title</label>
								<div class="col-5">{{ form.title }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Abbribiation</label>
								<div class="col-5">{{ form.abbr }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Bibtex Type</label>
								<div class="col-5">{{ form.style }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Institution</label>
								<div class="col-5">{{ form.institution }}</div>
						</div>						
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Organizer</label>
								<div class="col-5">{{ form.organizer }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Publisher</label>
								<div class="col-5">{{ form.publisher }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Address</label>
								<div class="col-5">{{ form.address }}</div>
						</div>						
						<button type="submit" class="btn btn-primary">{{ submit_text }}</button>
						{% if book.id %}
						<a href="{% url 'dashboard:book_detail' book.id %}" class="btn btn-outline-primary btn-sm">戻る</a>
						{% endif %}
				</form>				
				
		</div>
</div>
{% endblock content %}
