{% extends "base.html" %}

{% block title %}Dashboard | Tag {% endblock title %}

{% block content %}
<div class="row">
		<div class="col-12 my-3">
				<h1 class="h3" ><small class="text-secondary mr-2" >Tag:</small>{{ tag.name }}</h1>
		<table class="table table-sm table-striped">
					<tr><td>name</td><td>{{ tag.name }}</td></tr>
                    <tr><td>description</td><td>{{ tag.description }}</td></tr>
                    <tr><td>parent</td><td>{{ tag.parent }}</td></tr>
		</table>
		</div>
		<a href="edit/{{tag.id}}/" class="btn btn-outline-primary btn-sm">編集</a>
</div>
{% endblock content %}
