{% extends "base.html" %}

{% block title %}Dashboard | Tag Add{% endblock title %}

{% block content %}

<div class="row">
		<div class="col-12 my-3">
				<div class="card shadow">
						<div class="card-body">
								<h2>Add New Author</h2>
						</div>
						<div class="card-body">
								{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
								<form action="{{ submit_url }}" method="post">
										{% csrf_token %}
										<div class="form-group row">
												<label for="example-text-input" class="col-12 col-md-2 col-form-label">Name</label>
												<div class="col-12 col-md-10">{{ form.name }}</div>
										</div>
										<div class="form-group row">
												<label for="example-text-input" class="col-12 col-md-2 col-form-label">Description</label>
												<div class="col-12 col-md-10">{{ form.description }}</div>
										</div>	
										<div class="form-group row">
												<label for="example-text-input" class="col-12 col-md-2 col-form-label">Parent</label>
												<div class="col-12 col-md-10">{{ form.parent }}</div>
										</div>				

										{% if tag.id %}
										<button type="submit" class="btn btn-primary">Update</button>
										<a href="{% url 'dashboard:tag_index' %}{{ tag.id }}" class="btn btn-outline-primary">Back</a>
										{% else %}
										<button type="submit" class="btn btn-primary">Add</button>										
										<a href="{% url 'dashboard:tag_index' %}" class="btn btn-outline-primary">Back</a>
										{% endif %}
								</form>				
						</div>
				</div>
		</div>
</div>
{% endblock content %}
