{% extends "base.html" %}

{% block title %}Dashboard | Tag Add{% endblock title %}

{% block content %}

<div class="row">
		<div class="col-12 my-3">
				<h2>Add New Author</h2>
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

				<form action="{{ submit_url }}" method="post">
						{% csrf_token %}
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Name</label>
								<div class="col-5">{{ form.name }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Description</label>
								<div class="col-5">{{ form.description }}</div>
                        </div>	
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Parent</label>
                            <div class="col-5">{{ form.parent }}</div>
                        </div>				

						<button type="submit" class="btn btn-sm btn-primary">Add</button>
						<a href="{% url 'dashboard:tag_index' %}" class="btn btn-outline-primary btn-sm">Back</a>
				</form>				
				
		</div>
</div>
{% endblock content %}
