{% extends "base.html" %}

{% block title %}PubZ | {{ bibtex }}{% endblock title %}
{% load utils_bib_format %}
{% load utils_bib_style_helper %}

{% block content %}
<div class="row">
	<div class="col-12 my-3">
		<div class="card">
			<div class="card-body">								
				<div class="d-block h4">
					<span class="badge badge-primary">Bibtex</span>
					<span class="d-inline-block border border-info badge-pill text-info small">{{ bibtex.bib_type_display }}</span>
				</div>
				<h1 class="h3" >
					<span class="d-inline-flex">{{ bibtex.title|remove_brace }}</span>
				</h1>
				
				<div class="table-responsive">
					<table class="table table-striped w-100" >
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="col">Authors</th>
								<td>
									{% for author in bibtex.authors.all %}
									<a href="{% url 'core:author_detail' author.id %}" class="btn btn-sm btn-outline-primary d-inline-flex mb-1" >
										{% if bibtex.language == "EN" or not author.name_ja %}
										{{ author.name_en|author_en_default }}
										{% else %}
										{{ author.name_ja }}
										{% endif %}</a>
									{% endfor %}
								</td>
							</tr>
							<tr>
								<th scope="col">Book</th>
								<td class="row">
									<span class="col-12" >
										{% if bibtex.book_title %}
										<a href="{% url 'core:book_detail' bibtex.book.id %}" class="d-block" >
											<span class="d-block">
												{{ bibtex.book_title_display }}
											</span>
											<span class="d-block text-muted small">
												(From {{ bibtex.book.title }})
											</span>
										</a>																																				
										{% else %}
										<a href="{% url 'core:book_detail' bibtex.book.id %}" class="d-inline-flex" >
											{{ bibtex.book.title }}
										</a>
										{% endif %}
									</span>
									<span class="col-12 small">
										{% if bibtex.volume %}Vol.{{ bibtex.volume }}, {% endif %}
										{% if bibtex.number %}Number.{{ bibtex.number }}, {% endif %}
										{% if bibtex.chapter %}Chapter.{{ bibtex.chapter }}, {% endif %}
										{% if bibtex.page %}Page.{{ bibtex.page|replace_double_hyphen }}, {% endif %}
										{% if bibtex.pub_date %} {% if bibtex.language == "EN" %}{{ bib.pub_date|date:"F Y" }}{% else %}{{ bib.pub_date|date:"Y年n月" }}{% endif %}{% endif %}
									</span>
								</td>
							</tr>
							<tr>
								<th scope="col">Published</th>
								<td>
									{% if bibtex.use_date_info %}
									{{ bibtex.pub_date| date:"Y . m . d" | default:"-" }}
									{% else %}
									{{ bibtex.pub_date| date:"Y . m" | default:"-" }}
									{% endif %}
								</td>
							</tr>
							<tr>
								<th scope="col">Tags</th>
								<td>
									{% for tag in bibtex.tags.all %}
									<a href="{% url 'core:tag_detail' tag.id %}" class="btn btn-sm btn-outline-primary d-inline-flex" >{{ tag.name }}</a>
									{% endfor %}
									{% if user.is_authenticated %}
									<a href="{% url 'core:tagchain_add'%}?bibtex={{ bibtex.id }}" class="small text-muted"  >(Add other tags)</a>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th scope="col">Fund</th>
								<td>
									{{ bibtex.fund|default:'-' }}
								</td>
							</tr>
							<tr>
								<th scope="col">DOI</th>
								<td>
									{{ bibtex.doi|default:'-' }}
								</td>
							</tr>							
							<tr>
								<th scope="col">URL</th>
								<td>
									{% if bibtex.url %}
									<a href="{{ bibtex.url }}" >{{ bibtex.url|default:'-' }}</a>
									{% else %}
									-
									{% endif %}
								</td>
							</tr>
							{% if bibtex.memo %}
							<tr>
								<th scope="col">Memo</th>
								<td>
									{{ bibtex.memo|default:'-' }}
								</td>
							</tr>
							{% endif %}
							{% if bibtex.abstruct %}														
							<tr>
								<th scope="col">Abstruct</th>
								<td>
									<div class="row">
										<div class="col">
											<div class="collapse multi-collapse" id="multiCollapseExample2">
												{{ bibtex.abstruct|default:'-' }}
											</div>
										</div>
									</div>
									<div class="w-100 mb-2">
										<a class="" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multicollapseExample2">
											<u class="text-muted">Show/Hide</u>
										</a>
									</div>
								</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
				<div class="w-100 my-3">
					<div class="card bg-seconary mb-3 w-100">
						<div class="card-header text-small font-weight-bolder">Bibtex</div>
						<div class="card-body text-dark">
							{{ bibtex | bibtex_bib_format }}
						</div>
					</div>										
				</div>

				{% if user.is_authenticated %}								
				<div class="col-12 my-3">
					<a href="{% url 'core:bibtex_edit' bibtex.id %}" class="btn btn-outline-primary"  >Edit</a>
					<a href="{% url 'core:tagchain_add'%}?bibtex={{ bibtex.id }}" class="btn btn-outline-primary" >Add Tag</a>
				</div>
				{% endif %}
			</div>								
		</div>
	</div>
</div>
<script>
function clickDownload(aLink)  
{
				var str = document.getElementById("bibtex").innerHTML;  
				str =  encodeURIComponent(str);  
				aLink.href = "data:text;charset=utf-8,"+str;  
}  
</script> 
{% endblock content %}
