{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | Author Add{% endblock title %}

{% block content %}

<div class="row">
		<div class="col-12 my-3">
				{% if author_order.id %}
				<h2>Edit Author Info: {{ author_order }}</h2>
				{% else%}
				<h2>Add New Author to {{ bibtex }}</h2>
				{% endif %}
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

				<form action="{{ submit_url}}" method="post">
						{% csrf_token %}
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Bibtex</label>
								<div class="col-5">{{ form.bibtex }}</div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Author</label>
								<div class="col-5">{{ form.author }}</div>
								<div class="col-3"><a href="{% url 'dashboard:author_add' %}" class="btn btn-sm btn-outline-primary"  target="_blank">Add New Author</a></div>
						</div>
						<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Order</label>
								<div class="col-5">{{ form.order }}</div>
						</div>
						{% if book.id %}
						<button type="submit" class="btn btn-primary">Update</button>						
						<a href="{% url 'dashboard:bibtex_detail' book.id %}" class="btn btn-outline-primary btn-sm">Back</a>
						{% else %}
						<button type="submit" class="btn btn-sm btn-primary">Send</button>
						<a href="{% url 'dashboard:index' %}" class="btn btn-outline-primary btn-sm">Back to Top</a>
						{% endif %}
				</form>				
				
		</div>
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock content %}
