{% load utils_bib_style_helper %}

{% for author in authors %}
<a href="{% url 'core:author_detail' author.id %}" >{% if bib.language == "EN"  or not author.name_ja %}{{ author.name_en|author_en_default }}{% else %}{{ author.name_ja }}{% endif %}</a>,
{% endfor %}
"<a href="{% url 'core:bib_detail' bib.id %}" class="font-weight-bold text-primary border-bottom border-primary">{{ bib.title|remove_brace }},</a>"
{{ book.title }}
{% if bib.volume %},volume {{ bib.volume }}{% endif %}
{% if bib.number %},number {{ bib.number }}{% endif %}
{% if bib.page or bib.pub_date %},{% endif %}
{% if bib.page %} pages {{ bib.page }},{% endif %}
{% if bib.pub_date %} {% if bib.language == "EN" %}{{ bib.pub_date|date:"F Y" }}{% else %}{{ bib.pub_date|date:"Y年n月" }}{% endif %}.{% endif %}
