{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | Bibtex Add{% endblock title %}

{% block content %}

<div class="row">
		<div class="col-12 my-3">
				<h2>Add New Bibtex [Step.1]
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
  						Help
						</button>
						<!-- Different button style
						<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
  						Help
						</button>
						-->
				</h2>
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

						
				<form action="{{ submit_url }}" method="post">
						{{ form.non_field_errors }}						
						{% csrf_token %}
						<div class="form-group row">
								{{ form.language.errors }}
								<label for="example-text-input" class="col-2 col-form-label">Language</label>
								<div class="col-5">{{ form.lang }}</div>
						</div>
						<div class="form-group row">
								{{ form.title.errors }}								
								<label for="example-text-input" class="col-2 col-form-label">Title</label>
								<div class="col-10">{{ form.title }}</div>
						</div>
						<div class="form-group row">
								{{ form.book.errors }}
								<label for="example-text-input" class="col-2 col-form-label">Book</label>
								<div class="col-6">{{ form.book }}</div>
								<div class="col-3"><a href="{% url 'dashboard:book_add' %}" class="btn btn-sm btn-outline-primary" >Add New Book</a></div>
						</div>

						<button type="submit" class="btn btn-sm btn-primary">Add New</button>
						<a href="{% url 'dashboard:index' %}" class="btn btn-outline-primary btn-sm">Back</a>
				</form>				
		</div>
		<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 		 					<div class="modal-dialog" role="document">
    							<div class="modal-content">
      							<div class="modal-header">
        							<h5 class="modal-title" id="exampleModalLabel">Step 1. </h5>
		        					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          						<span aria-hidden="true">&times;</span>
		        					</button>
      							</div>
      							<div class="modal-body">
        							<h4> Register Title and Book </h4>
        								<ol>
											<li>
												As for the first step, you need to choose the <font class="p-1 bg-light text-danger">Language</font>, input the <font class="p-1 bg-light text-danger">Title</font> and choose the <font class="p-1 bg-light text-danger">Book</font> of the Bibtex. 
											</li>
											<li>
												If the this book is not included in our system, please press <font class="p-1 bg-light text-danger">Add New Book</font>, and refer <strong>[Step 2]</strong> within the <font class="p-1 bg-light text-danger">Help</font> button. 
											</li>
											<li>
												Press <font class="p-1 bg-light text-danger">Add New</font> button and continue the registration. 
											</li>
										</ol>
										<hr>
										<img src="{% static 'images/RegistrationFlow1.png' %}" height="500" width="450" alt="Flow1" />
		      					</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--							    	<button type="button" class="btn btn-primary">Save changes</button>   -->
 						     	</div>
    							</div>
  							</div>
						</div>
						<!-- Modal End-->
</div>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}

{% endblock content %}

