{% extends "base.html" %}

{% block title %}Dashboard | Table View{% endblock title %}
{% load utils_search %}
{% load utils_bib_get_data %}


{% block content %}

<div class="row my-3">
		<div class="col-12">
		</div>
</div>
<div class="row mb-3">
		<div class="col-12">
				{% search_box 'table' query_params %}
		</div>
</div>

<div class="row">
		<div class="col-12 my-3">
				{% for book_style in book_style_list %}
				{% if latest_bibtex_list|get_booktype_bibtex:book_style %}
			  <h4 id="{{book_style}}">{{ book_style|get_display_name }}</h4>
				<table class="table table-sm">
						<thead>
								<tr>
										<th scope="col">#</th>
										<th scope="col">Title</th>
										<th scope="col">Book</th>
										<th scope="col">Author</th>
										<th scope="col">Option</th>
								</tr>
						</thead>
						<tbody>
								{% for bibtex in latest_bibtex_list|get_booktype_bibtex:book_style %}
								<tr>
										<th scope="row">{{ forloop.counter }}</th>
										<td>
												{% if bibtex.title_en %}
												{{ bibtex.title_en}}
												{% else %}
												{{ bibtex.title_ja }}
												{% endif %}
										</td>
										<td>{{ bibtex.book.title }}</td>
										<td>{{ bibtex | bibtex_get:"authors"  }}</td>
										<td>
												{% if user.is_authenticated %}
												{% if not  bibtex.is_published %}
												<span class="badge badge-warning">Not Completed</span>
												{% endif %}
												{% endif %}												
												<a href="{% url 'dashboard:detail' bibtex.id  %}" >Detail,</a>
												{% if user.is_authenticated %}
												<a href="{% url 'dashboard:bibtex_edit' bibtex.id  %}" >Edit,</a>
												{% endif %}
										</td>
								</tr>
								{% endfor %}
						</tbody>
				</table>
				{% endif %}
				{% endfor %}
		</div>
</div>
{% endblock content %}
