{% extends "base.html" %}

{% block title %}Dashboard | Table View{% endblock title %}
{% load utils_search %}
{% load utils_bib_get_data %}


{% block content %}

<div class="row">
		<div class="col-12 my-3">
				<h2>Papers</h2>
				{% search_box 'table' %}
				{% for book_style in book_style_list %}
				<div class="my-3">
			  <h4 id="{{book_style}}">{{ book_style|get_display_name }}</h4>
				</div>
				{% if latest_bibtex_list|get_booktype_bibtex:book_style %}
				<table class="table table-sm">
						<thead>
								<tr>
										<th scope="col">#</th>
										<th scope="col">Title</th>
										<th scope="col">Book</th>
										<th scope="col">Author</th>
										<th scope="col">Option</th>
								</tr>
						</thead>
						<tbody>
								{% for bibtex in latest_bibtex_list|get_booktype_bibtex:book_style %}
								<tr>
										<th scope="row">{{ forloop.counter }}</th>
										<td>
												{% if bibtex.title_en %}
												{{ bibtex.title_en}}
												{% else %}
												{{ bibtex.title_ja }}
												{% endif %}
										</td>
										<td>{{ bibtex.book }}</td>
										<td>TBA</td>
										<td>
												<a href="{% url 'dashboard:detail' bibtex.id  %}">Detail</a>
										</td>
								</tr>
								{% endfor %}
						</tbody>
				</table>
				{% else %}
				<p>No data are available.</p>
				{% endif %}
				{% endfor %}
		</div>
</div>
{% endblock content %}
