{% extends "base.html" %}

{% load utils_search %}
{% load utils_bib_format %}

{% block title %}Dashboard | Table View{% endblock title %}

{% block content %}

<div class="row my-3">
		<div class="col-12">
				<h2>Papers</h2>
		</div>
</div>
<div class="row mb-3">
		<div class="col-12">
				{% search_box 'latex' %}
		</div>
</div>
<div class="row">
		<div class="col-12 my-3">
				{% if latest_bibtex_list %}
				{% for bibtex in latest_bibtex_list %}
				<div class="card mb-3">
						<div class="card-body">
								{{ bibtex | bibtex_latex_format }}
						</div>
						<div class="card-footer text-right py-1 px-1">
								<a href="{% url 'dashboard:bib_detail' bibtex.id  %}" class="btn btn-sm btn-outline-primary" >Detail</a>
						</div>						
				</div>
				{% endfor %}
				{% else %}
				<p>No data are available.</p>
				{% endif %}
		</div>
</div>
{% endblock content %}
