{% extends "base.html" %}

{% load utils_search %}
{% load utils_bib_format %}
{% load utils_bib_get_data %}

{% block title %}Dashboard | Table View{% endblock title %}

{% block content %}

<div class="row my-3">
		<div class="col-12">
		</div>
</div>
<div class="row mb-3">
		<div class="col-12">
				{% search_box 'bib' query_params %}
		</div>
</div>
<div class="row">
		<div class="col-12 my-3">
			{% for book_style in book_style_list %}
      	{% if latest_bibtex_list|get_booktype_bibtex:book_style %}
				  <h4 id="{{book_style}}">{{ book_style|get_display_name }}</h4>
					{% for bibtex in latest_bibtex_list|get_booktype_bibtex:book_style %}
						<div class="card mb-3">
						<div class="card-body">
								{{ bibtex | bibtex_bib_format }}
						</div>
						<div class="card-footer text-right py-1 px-1">
								<a href="{% url 'dashboard:bib_detail' bibtex.id  %}" class="btn btn-sm btn-outline-primary" >Detail</a>
						</div>
						</div>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>
</div>
{% endblock content %}
