{% extends "base.html" %}

{% load utils_search %}
{% load utils_bib_format %}
{% load utils_bib_index_page_helper %}


{% block title %}Dashboard | Table View{% endblock title %}

{% block content %}


<div class="row mb-3">
	<div class="col-12 my-3">
		{% search_box  display_style  GET_params  user %}
	</div>
</div>
<div class="row mb-3">
	<div class="col-12 my-3">
		<!-- Main Contents: Bibtex List (with Pagination) -->
		{% if display_style == 'tile' or not display_style %}
		<div class="card mb-3">
			<div class="card-body">				
				{% print_bibtexs %}
			</div>
		</div>
		{% else %}
		{% print_bibtexs %}
		{% endif %}
	</div>
</div>

{% if latest_bibtex_list %}
<div class="row mb-3">
	<div class="col-12">
		<div class="card">
			<!-- Pagination -->
			<nav aria-label="Page navigation example" class="card-body">
				<ul class="pagination justify-content-center my-0">
					<!-- Top Page -->
					<li class="page-item">
						<a href="{{ request.path }}" class="page-link search-link" page="1" mode="{{ display_style }}" >Top(1)</a>
					</li>
					<!-- Previous Page -->
					{% if page_obj.has_previous %}

					<li class="page-item">
						<a href="{{ request.path }}" class="page-link search-link" page="{{ page_obj.previous_page_number }}" mode="{{ display_style }}" > << </a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a href="#" class="page-link"> << </a>
					</li>
					{% endif %}
					<!-- Current Page -->
					<li class="page-item active">
						<a href="#" class="page-link">{{ page_obj.number }}</a>
					</li>
					<!-- Next Page -->																				
					{% if page_obj.has_next %}
					<li class="page-item" {% if page_obj.has_next %}disabled{% endif %}>
						<a href="{{ request.path }}" class="page-link search-link" page="{{ page_obj.next_page_number }}" mode="{{ display_style }}" > >> </a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a href="#" class="page-link"> >> </a>
					</li>																			
					{% endif %}
					<!-- Last Page -->
					<li class="page-item">
						<a href="{{ request.path }}" class="page-link search-link" page="{{ page_obj.paginator.num_pages }}" mode="{{ display_style }}" >
							End({{ page_obj.paginator.num_pages }})
						</a>
					</li>
				</ul>
			</nav>

		</div>
	</div>
</div>
{% endif %}

{% endblock content %}
