{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | TagChain Add{% endblock title %}

{% block content %}

<div class="row">
				<div class="col-12 card my-3">
								<div class="card-body">
												{% if tagChain.id %}
												<h2>Edit TagChain Info: {{ tagChain }}</h2>
												{% else%}
												<h2>Add New Tag to {{ bibtex }}</h2>
												{% endif %}
								</div>

								<div class="card-body">
												{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

												<form action="{{ submit_url}}" method="post">
																{% csrf_token %}
																<div class="form-group row">
																				<label for="example-text-input" class="col-2 col-form-label">Bibtex</label>
																				<div class="col-5">{{ form.bibtex }}</div>
																</div>
																<div class="form-group row">
																				<label for="example-text-input" class="col-2 col-form-label">Tag</label>
																				<div class="col-5">{{ form.tag }}</div>
																</div>
																
																{% if book.id %}
																<button type="submit" class="btn btn-primary">Update</button>						
																<a href="{% url 'core:bibtex_detail' book.id %}" class="btn btn-outline-primary">Back to Detail</a>
																{% else %}
																<button type="submit" class="btn btn-primary">Add</button>
																<a href="{% url 'core:index' %}" class="btn btn-outline-primary">Back to Top</a>
																{% endif %}
												</form>
								</div>
				</div>
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock content %}
