{% load utils_bib_format %}

<!-- Main -->
{% for bs_key,bs_value in book_styles.items %}
{% if latest_bibtex_list|filter_by_book_style:bs_key %}		
<div class="card mb-3">
				<div class="card-body">												
								<h4 id="{{book_style}}">{{ bs_value }}</h4>
								<!-- Bibtex -->		
								{% for bibtex in latest_bibtex_list|filter_by_book_style:bs_key %}
								<div class="border-top py-2">
												{{ bibtex | bibtex_latex_format }}
								</div>
								{% endfor %}
								<div class="border-top"></div>								
				</div>
</div>

{% endif %}
{% endfor %}
