@article{{ cb_left }}{ citekey },
  title     = {{ cb_left }}{{ bib.title }}{{ cb_right }},
  author    = {{ cb_left }}{% for author in authors %}{% if bib.language == "EN" %}{{ author.name_en }}{% else %}{{ author.name_ja }}{% endif %},{% endfor %}{{ cb_reght }},
  booktitle = {{ cb_left }}{{ book.title }}{{ cb_right }},
  pages     = {{ cb_left }}{{ bib.page }}{{ cb_right}},
  month     = {{ cb_left }}{{ bib.pub_date|date:"n" }}{{ cb_right }},
  year      = {{ cb_left }}{{ bib.pub_date|date:"Y" }}{{ cb_right }},
{{ cb_right }}
