{% extends "base.html" %}

{% block title %}Dashboard | Author {% endblock title %}

{% block content %}
<div class="row">
	<div class="col-12 my-3">
		<h1 class="h3" ><small class="text-secondary mr-2" >Author:</small>{{ author.name_en }} / {{ author.name_ja}}</h1>
		<table class="table table-sm table-striped">
			<tr><td>name(en)</td><td>{{ author.name_en }}</td></tr>
			<tr><td>name(ja)</td><td>{{ author.name_ja }}</td></tr>
			<tr><td>depertment(en)</td><td>{{ author.dep_en }}</td></tr>
			<tr><td>depertment(ja)</td><td>{{ author.dep_ja }}</td></tr>
			<tr><td>mail</td><td>{{ author.mail }}</td></tr>
			<tr><td>join_date</td><td>{{ author.join }}</td></tr>
			<tr><td>leave_date</td><td>{{ author.leave }}</td></tr>
		</table>
		<a href="{% url 'dashboard:author_edit' author.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
		<a href="{% url 'dashboard:index_list' %}?keywords={{author.name_en}}&pubyear_all=true" target=”_blank” class="btn btn-outline-primary btn-sm">Publications</a>
	</div>
</div>
{% endblock content %}
