Django==2.2.13
django-bootstrap4==0.0.6
mkdocs==1.0
mysqlclient==1.3.13
Pillow
djangorestframework
markdown
django-filter
django-autocomplete-light
django-bootstrap-datepicker-plus
PyMySQL
sphinx
sphinx_rtd_theme
